<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../css/style.css">
  <link rel="stylesheet" href="../css/perfil.css">
  <title>Menina dos Sapatos - Perfil</title>
</head>

<body>
  <%- include("./partials/header") %>
    <main>
      <div class="container">
        <div class="meuPerfil">
          <h1>Meu Perfil</h1>
          <nav>
            <ul class="opcoes">
              <li class="menu1"><a class="link1" href="/Login/perfil">Meu Perfil</a></li>
              <li class="menu1"><a class="link2" href="/enderecoDeEntrega">Endereço de Entrega</a></li>
              <!-- <li class="menu1"><a class="link1" href="/dadosDePagamento">Dados de Pagamento</a></li> -->
              <li class="menu1"><a class="link1" href="/politicas">Trocas e Devoluções</a></li>
            </ul>
          </nav>
          <!-- <div class="container2">
            <input class="btn-alterar" type="submit" value="Alterar Dados">
            <input class="btn-alterar" type="submit" value="Alterar Senha">
          </div> -->
        </div>
        <div class="minhaConta">
          <div class="submenu">
            <h1>Minha Conta</h1>
               <div id="user-info">
                <h2>Olá, </h2>
              <p>Nome completo: <%= usuario.nome %> <%= usuario.sobrenome %>
              </p>
          
              </p>
              <p>E-mail: <%= usuario.email %>
              </p>
            </div> 
          </div>
            </div>
        </div>
      </div>
    </main>

    <script src="../public/js/perfil.js"></script>

    <%- include("./partials/footer") %>
</body>

</html>