<!DOCTYPE html>
<html lang="pt-BR">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/produtos.css">
  <link rel="stylesheet" href="/css/style.css">

  <title>Menina dos Sapatos - Produtos</title>
</head>

<body>
  <%- include("./partials/header") %>
    <main>
      <!-- TÍTULO PRINCIPAL -->
      <div class="tituloPrincipal">
        <h1> PRODUTOS </h1>
      </div>
      <!-- PÁGINA PRINCIPAL -->
      <div class="paginaPrincipal">
        <!-- <div class="menuLateral">
          <p class="tituloFiltro"> FILTROS </p>
          <div class="container">
            <div class="container-radios">
              <div class="container-radio">
                <label for="Todos">Todos
                  <input type="radio" name="filtro" value="S" id="" checked>
                </label>
              </div>
              <div class="container-radio" style="margin-top: 2%;">
                <label for="Feminino">Feminino
                  <input type="radio" name="filtro" value="S" id="">
                </label>
              </div>
              <div class="container-radio" style="margin-top: 2%;">
                <label for="Masculino">Masculino
                  <input type="radio" name="filtro" value="S" id="">
                </label>
              </div>
            </div>
          </div>
        </div> -->

        <!-- TODOS OS PRODUTOS-->
        <div class="todosProdutos">
          <% produtos.forEach(function(produto) { %>
            <div class="container-card">
              <section class="card-shoes">
                <a href="/produtos/detalhar/<%= produto.id %>">
                  <figure class="card-shoes-image">
                    <img src="/img/imgProduto/<%= produto.imagem %>" alt="imagem do produto">
                  </figure>
                  <article class="card-shoes-details">
                    <h2><a href="/produto">
                        <%= produto.nome %>
                      </a></h2>
                    <p class="price"> R$ <%= produto.preco %>,00</p>
                    <div class="addSacola-container" id="item-1">
                      <button onclick="decrement(this)">-</button>
                       <h2 id="counting-1"></h2>
                       <button onclick="increment(this)">+</button>
                       <p><input id="adionarASacola" type="submit" value="Adicionar a Sacola"></p>
                     </div>
                  </article>
                </a>
              </section>
            </div>
            <% }) %>
        </div>
      </div>
    </main>

    <script src="/js/sacola.js"></script>
    <%- include("./partials/footer") %>
</body>

</html>